input {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    padding: 5px;
    width: 200px;
    border-radius: 8px;
}

p {
    margin-right: 8px;
    width: 150px;
    height: 20px;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    text-align: center;
    margin: 8px auto;
    background-color:cornflowerblue;
    border-radius: 8px;
    color: white;
}

.container {
    margin-top: 250px;
    border: 2px solid darkgray;
    height: 300px;
    width: 300px;
    margin: 250px auto 250px auto;
    border-radius: 10px;
    background-color: darkgray;
}